# Dependencies
/node_modules

# Project list
projects.json

# Build output
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Electron-builder output
*.AppImage
*.deb
*.rpm
*.snap
*.nsis
*.exe
*.dmg
*.pkg
*.mas
*.zip
*.tar.gz
*.nupkg
*.msi

# Other
.DS_Store
